<section class="c4p">
    <div class="row">
        <article class="c4p__inner">
           <header class="c4p__header">
                <h1 class="c4p__title">call for paper</h1>
           </header>
            <p class="c4p__text">Any topic related to frontend is good,<br> but we need to see the spirit of it in&nbsp;order&nbsp;to keep it in consideration. <br>Nevertheless we will try to get back to everyone&nbsp;with a feedback.</p>
            <p class="c4p__closing">
                close on: 28 february 2014
            </p>
            <a href="http://lanyrd.com/2014/fromthefront/calls/qtyf/" class="button c4p__button">
                submit your proposal
            </a>
        </article>
        <section class="ufo-aside">
            <%= partial "history" %>
        </section>
    </div>
</section>