<section id="banner" class="banner">
    <h1 class="banner_heading">
        <% link_to '/' do %>
           <img class="banner__img" src="../images/ftf14.svg" alt="From the Front and the Temple of DOM">
        <% end %>
    </h1>
</section>
