<h2 class="history__title"><%= t(:history) %></h2>

<div class="edition">
    <a href="http://2013.fromthefront.it" class="edition__link edition--2013">
    </a>
    <span class="edition__year">
        <a class="edition__text-link" href="http://2013.fromthefront.it">2013</a>
    </span>
</div>

<div class="edition">
    <a href="http://2012.fromthefront.it" class="edition__link edition--2012">
    </a>
    <span class="edition__year">
        <a class="edition__text-link" href="http://2012.fromthefront.it">2012</a>
    </span>
</div>

<div class="edition">
    <a href="http://2011.fromthefront.it" class="edition__link edition--2011">
    </a>
    <span class="edition__year">
        <a class="edition__text-link" href="http://2011.fromthefront.it">2011</a>
    </span>
</div>