<section class="newsletter">
    <h2 class="newsletter__title"><%= t(:loop) %></h2>
    <form action="http://fromthefront.us2.list-manage1.com/subscribe/post?u=918f93d8162db7b50cc604d8f&amp;id=c35fd91fa3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate nl-form" target="_blank" novalidate>       
        <div class="nl-form__inner row collapse">
            <div class="nl-form__input">
              <input type="email" placeholder="email" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div class="nl-form__action">
              <button class="button postfix nl-form__button">
                <i class="nl-form__icon icon-arrow-right"></i>
              </button>
            </div>

        </div>
    </form>

    <h2 class="follow__title"><%= t(:follow) %></h2>
    <ul class="socials">
        <li class="social__item">
            <a href="https://www.facebook.com/fromthefront" class="social__link">
                <i class="social__icon icon-facebook"></i>
            </a>
        </li>
        <li class="social__item">
            <a href="https://twitter.com/fromthefront" class="social__link">
                <i class="social__icon icon-twitter"></i>
            </a>
        </li>
        <li class="social__item">
            <a href="http://vimeo.com/fromthefront" class="social__link">
                <i class="social__icon icon-vimeo"></i>
            </a>
        </li>
    </ul>

</section>