<section class="sponsors">
    <header class="sponsors__header">
        <h2 class="sponsors__title">
            <%= t(:treasure) %>
        </h2>
        <p class="sponsors__subtitle">
            <%= t(:sponsor) %>
        </p>
    </header>

    <section class="row sponsor__container sponsor__container--main">
        <h2 class="sponsor__container__title">
            Crystal Skull
        </h2>
        <article class="sponsor sponsor--main">
            <a href="http://mozilla.org" class="sponsor__link">
                <h2>
                    <img src="../images/mozilla.png" alt="Mozilla" class="sponsor__logo">
                </h2>
            </a>
        </article>
        <article class="sponsor sponsor--main">
            <a href="http://mailchimp.com" class="sponsor__link">
                <h2>
                    <img src="../images/mailchimp_logo.png" alt="Mailchimp" class="sponsor__logo">
                </h2>
            </a>
        </article>
    </section>

    <section class="row sponsor__container sponsor__container--secondary">
        <h2 class="sponsor__container__title">
            Sankara stones
        </h2>

        <article class="sponsor sponsor--secondary">
            <a href="http://airbrake.io/" class="sponsor__link">
                <h2>
                    <img src="../images/airbrake_logo.png" alt="Airbrake" class="sponsor__logo">
                </h2>
            </a>
        </article>

        <article class="sponsor sponsor--secondary">
            <a href="http://mailjet.com/" class="sponsor__link">
                <h2>
                    <img src="../images/mailjet_logo.png" alt="MailJet" class="sponsor__logo">
                </h2>
            </a>
        </article>

        <article class="sponsor sponsor--secondary">
            <a href="http://proto.io/" class="sponsor__link">
                <h2>
                    <img src="../images/protoio_logo.png" alt="Proto.io" class="sponsor__logo">
                </h2>
            </a>
        </article>

        <article class="sponsor sponsor--secondary">
            <a href="http://www.gnvpartners.com/" class="sponsor__link">
                <h2>
                    <img src="../images/gnv_logo.png" alt="GNV & Partners" class="sponsor__logo">
                </h2>
            </a>
        </article>

        <article class="sponsor sponsor--secondary">
            <a href="http://mced.it/" class="sponsor__link">
                <h2>
                    <img src="../images/mced_logo.png" alt="MCED" class="sponsor__logo">
                </h2>
            </a>
        </article>

    </section>

    <p class="sponsors__message"><%= t(:sponsorcontact) %><a  href="http://fromthefront.wufoo.com/forms/z7x3k7/" onclick="winOpen(this); return false" ><%= t(:contactus) %></a></p>

</section>