<section id="tickets" class="tickets">
    <div class="tickets__inner">
        <h1 class="tickets__title">
            <%= t(:getyourticket) %>
        </h1>

        <p class="ticket__message"><%= t(:student) %>, <a class="ticket__link" href="http://fromthefront.wufoo.com/forms/z7x3k7/" onclick="winOpen(this); return false" ><%= t(:getintouch) %></a> <%= t(:special) %> :)</p>

        <div class="ticket__form">
            <script src="https://getinvited.to/js/fromthefront/from-the-front-2014/" id="script-fromthefront-from-the-front-2014"></script>
        </div>
    </div>
</section>
